<!DOCTYPE html>
<html lang="ru">
{{> head
        description="Log In"
        keywords="пользователь"
        title="Log In"
}}
<body class="body">
{{> header pageTitle="Log In"}}

<main class="main">
    <form id="signInForm">
        <input type="email" name="email" id="email" placeholder="Email" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <button type="submit">Sign In</button>
    </form>
</main>

{{> footer}}
<script src="/js/signIn.bundle.js"></script>
</body>
</html>