<!DOCTYPE html>
<html lang="ru">
{{> head
        description="Sign Up"
        keywords="пользователь"
        title="Sign Up"
}}
<body class="body">
{{> header pageTitle="Sign Ip"}}

<main class="main">
    <form id="signUpForm">
        <input type="email" name="email" id="email" placeholder="Email" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <button type="submit">Sign Up</button>
    </form>
</main>

{{> footer}}
<script src="/js/signUp.bundle.js"></script>
</body>
</html>