<!DOCTYPE html>
<html lang="ru">
{{> head
        description=meta.description
        keywords="Login"
        title=meta.title
}}
<body class="body">
{{> header pageTitle="Login"}}

<main class="main">
    <div class="card p-4" style="width: 20%;">
        <h1 class="card-title text-center">Sign In</h1>
        <span class="mb-4 text-center">Not registered yet? <a href="/auth/sign-up" class="text-decoration-none">Sign Up</a></span>
        <form id="signInForm">
            <div class="mb-3">
                <label for="signInUsernameInput" class="form-label">Username</label>
                <input type="username" class="form-control" id="signInUsernameInput" placeholder="Username">
            </div>
            <div class="mb-3">
                <label for="signInEmailInput" class="form-label">Email address</label>
                <input type="email" class="form-control" id="signInEmailInput" placeholder="Email address">
            </div>
            <div class="mb-3">
                <label for="signInPasswordInput" class="form-label">Password</label>
                <input type="password" class="form-control" id="signInPasswordInput" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary w-100">Sign In</button>
        </form>
    </div>
</main>

{{> footer}}
<script src="/js/signIn.bundle.js"></script>
</body>
</html>