<!DOCTYPE html>
<html lang="ru">
{{> head
        description=meta.description
        keywords="Login"
        title=meta.title
}}
<body class="body">
{{> header pageTitle="Login"}}

<main class="main">
    <div class="card p-4" style="width: 20%;">
        <h1 class="card-title text-center">Sign Up</h1>
        <span class="mb-4 text-center">Already have an account? <a href="/auth/sign-in" class="text-decoration-none">Sign In</a></span>
        <form id="signUpForm">
            <div class="mb-3">
                <label for="signUpUsernameInput" class="form-label">Username</label>
                <input type="username" class="form-control" id="signUpUsernameInput" placeholder="Username">
            </div>
            <div class="mb-3">
                <label for="signUpEmailInput" class="form-label">Email address</label>
                <input type="email" class="form-control" id="signUpEmailInput" placeholder="Email address">
            </div>
            <div class="mb-3">
                <label for="signUpPasswordInput" class="form-label">Password</label>
                <input type="password" class="form-control" id="signUpPasswordInput" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary w-100">Sign Up</button>
        </form>
    </div>
</main>

{{> footer}}
<script src="/js/signUp.bundle.js"></script>
</body>
</html>