<div class="authorization">
    {{#if user}}
        <p class="authorization__status">Вы авторизованы.</p>
        <a href="/auth/logout" class="authorization__link">Выйти</a>
    {{else}}
        <a href="/auth/signin" class="authorization__link">Войти</a>
        <a href="/auth/signup" class="authorization__link">Зарегестрироваться</a>
    {{/if}}
</div>