<div class="authorization">
    {{#if user}}
        <p class="authorization__status">Вы авторизованы как {{user.username}}.</p>
        <a href="/auth/sign-out" class="authorization__link">Выйти</a>
    {{else}}
        <p class="authorization__status">Вы не авторизованы.</p>
        <a href="/auth/sign-in" class="authorization__link">Войти</a>
    {{/if}}
</div>