<header class="header">
    <nav class="header__nav">
        <ul class="header__nav-list">
            {{> menu}}
        </ul>
    </nav>
    <div class="header__content">
        <img src="/images/logo.png" alt="Логотип" class="header__logo"/>
        <h1 class="header__title">{{pageTitle}}</h1>
    </div>
    {{> auth-info}}
</header>