<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <title>{{title}}</title>
    {{> shared-scripts}}
    {{#if additionalScripts}}
        {{#each additionalScripts}}
            <script src="{{this}}" defer></script>
        {{/each}}
    {{/if}}
</head>