<li class="header__nav-list__item"><a href="index" class="header__nav-list__link">Главное</a></li>
<li class="header__nav-list__item"><a href="news" class="header__nav-list__link">Новости</a></li>
<li class="header__nav-list__item"><a href="olympiads" class="header__nav-list__link">Текущие олимпиады</a></li>
<li class="header__nav-list__item"><a href="contacts" class="header__nav-list__link">Контакты</a></li>
<li class="header__nav-list__item"><a href="constructor" class="header__nav-list__link">Конструктор</a></li>
<li class="header__nav-list__item"><a href="messages" class="header__nav-list__link">Сообщения</a></li>
<li class="header__nav-list__item"><a href="gallery" class="header__nav-list__link">Галерея</a></li>