<!DOCTYPE html>
<html lang="ru">
{{> head description="Галерея изображений - Олимпиады в Якутии"
        keywords="галерея, слайдер, swiperjs, олимпиады"
        title="Олимпиады в Якутии"}}
<body class="body">

{{> header pageTitle="Олимпиады в Якутии"}}

{{> content}}

{{> footer}}

</body>
</html>