<!DOCTYPE html>
<html lang="ru">
{{> head
        description="Галерея изображений - Олимпиады в Якутии"
        keywords="галерея, слайдер, swiperjs, олимпиады"
        title="Галерея - Олимпиады в Якутии"
}}
<body class="body">
{{> header pageTitle="Галерея олимпиад"}}

<main class="main">
    <section class="gallery">
        <h2 class="gallery__title">Галерея</h2>

        <div class="upload-form">
            <h3>Загрузить новое изображение</h3>
            <form id="uploadForm" enctype="multipart/form-data" method="post">
                <input type="file" name="image" />
                <button type="submit">Загрузить</button>
            </form>
        </div>

        <div class="swiper">
            <div class="swiper-wrapper">
                {{#each slides}}
                    <div class="swiper-slide"><img src="{{src}}" alt="{{alt}}"></div>
                {{/each}}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
</main>

{{> footer}}
<script src="/js/gallery.js" defer></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js" defer></script>
</body>
</html>