<!DOCTYPE html>
<html lang="ru">
{{> head
        description="Олимпиады для школьников Якутии"
        keywords="олимпиады, школьники, соревнования, новости, образование, якутия"
        title="Олимпиады в Якутии"
}}
<body class="body">
{{> header pageTitle="Олимпиады в Якутии"}}

<main class="main">
    <section class="main__current-olympiads">
        <h2 class="main__title">Текущие олимпиады</h2>
        <ul class="main__list">
            {{#each olympiads}}
                <li class="main__list-item">{{name}}</li>
            {{/each}}
        </ul>
    </section>

    <section class="main__news">
        <h2 class="main__title">Последние новости</h2>
        {{#each news}}
            <article class="main__article">
                <h3 class="main__article-title">{{title}}</h3>
                <p class="main__article-text">{{content}}</p>
            </article>
        {{/each}}
    </section>
</main>

{{> footer}}

</body>
</html>