<!DOCTYPE html>
<html lang="ru">
{{> head
        description="Новости Олимпиад в Якутии"
        keywords="олимпиады, новости, якутия"
        title="Новости - Олимпиады в Якутии"
}}
<body class="body">
{{> header pageTitle="Новости об олимпиадах"}}

<main class="main">
    <section class="news">
        <h2 class="news__title">Последние новости</h2>
        {{#each news}}
            <article class="news__article">
                <h3 class="news__article-title">{{title}}</h3>
                <p class="news__article-text">{{text}}</p>
            </article>
        {{/each}}
    </section>
</main>

{{> footer}}
</body>
</html>